@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #fceefc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  height: calc(100 * 100vw / 1440);
  width: 100%;
  background-color: #ffc5f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header #naming {
  font-family: Raleway;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: start;
  align-items: center;
}
@media (max-width: 767px) {
  #header #naming {
    font-size: calc(10px + 68 * (100vw - 320px) / 1440);
  }
}
@media (min-width: 767px) {
  #header #naming {
    font-size: calc(10px + 40 * 100vw / 1440);
  }
}
#header #naming div img {
  height: calc(40 * 100vw / 1440);
}
#header #section {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}
#header #section div {
  margin: 3%;
}

h1 {
  font-family: Raleway;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 767px) {
  h1 {
    font-size: calc(10px + 34 * (100vw - 320px) / 1440);
  }
}
@media (min-width: 767px) {
  h1 {
    font-size: calc(10px + 20 * 100vw / 1440);
  }
}

#About {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
#About div {
  display: flex;
  align-items: center;
}
#About div div {
  display: flex;
  justify-content: center;
  margin: 2%;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  color: #3d3d3d;
}
@media (max-width: 767px) {
  #About div div {
    font-size: calc(6px + 28.9 * (100vw - 320px) / 1440);
  }
}
@media (min-width: 767px) {
  #About div div {
    font-size: calc(6px + 17 * 100vw / 1440);
  }
}
#About img {
  height: calc(650 * 100vw / 1440);
}

#Achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
#Achievement div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#Achievement .card {
  background-color: #ffc5f9;
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 26%;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  color: #3d3d3d;
  border-radius: 2%;
}
#Achievement .card div {
  margin: 1.5%;
}
@media (max-width: 767px) {
  #Achievement .card {
    font-size: calc(5px + 28.9 * (100vw - 320px) / 1440);
  }
}
@media (min-width: 767px) {
  #Achievement .card {
    font-size: calc(5px + 17 * 100vw / 1440);
  }
}
#Achievement .card img {
  height: calc(350 * 100vw / 1440);
}

#Kitty {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
#Kitty div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  color: #3d3d3d;
}
@media (max-width: 767px) {
  #Kitty div {
    font-size: calc(6px + 28.9 * (100vw - 320px) / 1440);
  }
}
@media (min-width: 767px) {
  #Kitty div {
    font-size: calc(6px + 17 * 100vw / 1440);
  }
}
#Kitty div #ks {
  display: flex;
  flex-wrap: wrap;
}
#Kitty div #ks img {
  height: calc(150 * 100vw / 1440);
  margin: 2%;
  border-radius: 2%;
}

#footer {
  height: calc(140 * 100vw / 1440);
  width: 100%;
  background-color: #ffc5f9;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Raleway;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 767px) {
  #footer {
    font-size: calc(10px + 34 * (100vw - 320px) / 1440);
  }
}
@media (min-width: 767px) {
  #footer {
    font-size: calc(10px + 20 * 100vw / 1440);
  }
}
#footer div {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
  font-family: Raleway;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 767px) {
  a {
    font-size: calc(10px + 34 * (100vw - 320px) / 1440);
  }
}
@media (min-width: 767px) {
  a {
    font-size: calc(10px + 20 * 100vw / 1440);
  }
}

a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */